.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: slategray;
  padding: 10px;
}

.grid-container > div {
  background-color: darkgrey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.banner 
{
    font-size: large;
    text-align: center;
}

section 
{
    max-width: 500px;
    height: 500px;
    background-color: slategray;
}

section img
{
    padding-top: 1rem;
    display: block;
    margin: auto;
    width: 40%;
}